@import '../foundation/sizing';

.resume-item {
  // padding: map-get($sizes, xs) 0;
  padding-bottom: map-get($sizes, xs);

  & h5, & p {
    margin: map-get($sizes, xxxs)  0;
  }

  & .location {
    // margin-bottom: map-get($sizes, xs);
  }

  & .item{
    margin-left: map-get($sizes, xs);

    &:before {
      content: "* ";
    }
  }
}

.experience {
  display: flex;
  flex-direction: column;

  & .resume-item {
    width: 100%;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: 0 -#{map-get($sizes, xs)};

  & .resume-item {
    // margin: 0 map-get($sizes, xs);
    // flex: 20%;
  }
}

@media (min-width: map-get($breakpoints, l)) {
  .skills {
    & .resume-item {
      flex: 0 20%;
    }
  }
}

@media (min-width: map-get($breakpoints, m)) and (max-width: map-get($breakpoints, l)){
  .skills {
    & .resume-item {
      flex: 0 33.33%;
    }
  }
}

@media (min-width: map-get($breakpoints, s)) and (max-width: map-get($breakpoints, m)){
  .skills {
    & .resume-item {
      flex: 0 50%;
    }
  }
}

@media (max-width: map-get($breakpoints, s)){
  .skills {
    & .resume-item {
      flex: 0 50%;
    }
  }
}
